.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Pokedex {
    width: 90%;
    background-color: rgba(0, 51, 109, 0.2);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    user-select: none;
}

#searchbar {
    color: white;
    background-color: #25243a;
    outline: none;
    padding: .4em;
    font-size: 1rem;
    width: 30vw;
    margin: 2em 0 3em;
    border-radius: 10px;
    box-shadow: 0 0 30px 18px #363646;
}

.Pokecard {
    background-color: rgba(0, 21, 48, 0.15);
    border-radius: 10px;
    font-size: 1.4em;
    overflow: hidden;
    width: 160px;
    height: 230px;
}

.Images {
    position: relative;
    display: flex;
}

.Pokeimage {
    width: 160px;
    height: 160px;
    -webkit-user-drag: none;
    position: relative;
}

.Pokeshiny {
    opacity: 0;
    position: absolute;
    transition: all linear 200ms;
}

.Pokeshiny:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 50%;
}