.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.075);
    width: 100%;
    height: 6em;
    margin-bottom: 4em;
    justify-content: space-between;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo {
    height: 60%;
    margin: 0 10em;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.headerRight {
    margin: 0 10em;
    display: flex;
    gap: 3em;
}

.Pokedex {
    max-width: 90%;
    background-color: rgba(0, 51, 109, 0.2);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    user-select: none;
}

.Invisible {
    display: none;
}

.notfind {
    font-size: 2em;
    margin: 0 .6em;
    text-shadow: 6px 6px 10px black;
}

#searchbar {
    color: white;
    background-color: rgba(0, 0, 0, 0.153);
    outline: none;
    padding: .4em;
    font-size: 1rem;
    width: 4em;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 150ms;
    user-select: none;
    border: solid rgb(48, 49, 63);
}

#searchbar:focus {
    background-color: #25243a;
    box-shadow: 0 0 30px 18px #363646;
    width: 14em;
    cursor: text;
    border: solid rgb(56, 57, 77);
}

.toggleShiny {
    padding: .4em .8em;
    background-color: #27335a;
    color: white;
    border: solid rgba(199, 199, 199, 0.2);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-weight: 800;
}

.toggleShiny:hover {
    background-color: rgb(81, 86, 117);
}

.toggleShiny:active {
    background-color: rgb(73, 73, 121);
}

.toggleShinyActive {
    background-color: rgba(151, 255, 151, 0.527);

}

.toggleShinyActive:hover {
    background-color: rgba(255, 107, 107, 0.514);
}

.Pokecard {
    background-color: rgba(0, 21, 48, 0.15);
    border-radius: 10px;
    font-size: 1.4em;
    overflow: hidden;
    width: 160px;
    height: 230px;
    padding: 8px;

    transition: all ease-in-out 100ms;
}

.Pokecard:hover {
    transform: scale(110%) translateY(-20px);
    background-color: rgba(85, 115, 155, 0.15);
}

.Images {
    position: relative;
    display: flex;
    transition: all ease-in-out 200ms;
}

.Images:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 50%;
}

.Pokeimage {
    width: 160px;
    height: 160px;
    -webkit-user-drag: none;
    position: relative;

}


.Pokeshiny {
    opacity: 0;
    position: absolute;
    transition: all linear 200ms;
}

.ShinyVisible {
    opacity: 1;
    background-color: rgba(0, 51, 109, 0.2);
    border-radius: 50%;
}